<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> To create a new Category </h1> <a href='/newcategory'> new category </a> 
    <h1> To create a new list </h1> <a href='/newlist'> new list </a> 
    <h1> To Go to your lists </h1> <a href='/lists'> index lists </a> 
</body>
</html>