<html>
<head> 
<title> ToDo App </title>
<script defer src="/__/firebase/5.1.0/firebase-app.js"></script>
<!-- include only the Firebase features as you need -->
<script defer src="/__/firebase/5.1.0/firebase-auth.js"></script>
<script defer src="/__/firebase/5.1.0/firebase-database.js"></script>
<script defer src="/__/firebase/5.1.0/firebase-messaging.js"></script>
<script defer src="/__/firebase/5.1.0/firebase-storage.js"></script>
<!-- initialize the SDK after all desired features are loaded -->
<script defer src="/__/firebase/init.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="K:\khara\node\public\styles.css" rel="stylesheet">
</head>

<body>

<h2>Login With username and password </h2>

<form action ="/login" method="POST">

<input type="text" name="username" placeholder="enter username">
<input type="password" name="password" placeholder="enter password">
<button formaction="/login"> Login </button>



</form>



</div>

</body>
</html>